*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.option{
    color: rgb(49, 48, 48);
    background-color: rgb(243, 243, 243);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.option img{
    width: 4rem;
}
.option:hover{
    background-color: white;
}