*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.result{
    width: 100%;
}
.result img{
    width: 2rem;
    text-align: center;
}
.part {
    margin: 0 auto;
    z-index: -1;
}
@media(max-width: 991px){
    .result{
        margin-bottom: 1rem;
    }
}