*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container{
    width: 20rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.google-btn img{
    width: 2rem;
}
.google-btn{
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(226, 226, 226);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.google-btn:hover{
    background-color: rgb(200, 200, 200);
}

@media(max-width: 387px){
    .form-container{
        width: 15rem;
    }
    .google-btn{
        padding: 0.3rem 1rem;
    }
}